AORSL/AgentControlUI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:aors="http://aor-simulation.org" xmlns:ers="http://aor-simulation.org" targetNamespace="http://aor-simulation.org">

  <xs:include schemaLocation="ERSL/UMLetc.xsd"/>

  <xs:element name="AgentControlUI">
   <xs:complexType>
     <xs:sequence>
       <xs:element name="ControllableAgentType" maxOccurs="unbounded">
         <xs:complexType>
           <xs:sequence>
             <xs:element name="ControlInterface" type="aors:AgentControlUI.ControlInterface.type"/>
             <xs:element name="InteractionRules" type="aors:AgentControlUI.InteractionRules.type"/>
           </xs:sequence>
           <xs:attribute name="type" type="ers:CanonicalName" use="required"/>
           <xs:attribute name="suspendRules" type="ers:ListOfCanonicalName" use="optional"/>
         </xs:complexType>
       </xs:element>
     </xs:sequence>
   </xs:complexType>
  </xs:element>  
  
  <!--########################-->
  <!--### ControlInterface ###-->
  <!--########################-->
  
  <xs:complexType name="AgentControlUI.ControlInterface.type">
    <xs:sequence>
      <xs:element name="Style" type="aors:AgentControlUI.ControlInterface.StyleSection.type"/>
      <xs:element name="Structure" type="aors:AgentControlUI.ControlInterface.StructureSection.type">
        <xs:unique name="structure.unique.names">
          <xs:selector xpath=".//aors:textfield | .//aors:checkbox | .//aors:select | .//aors:button | .//aors:textarea | .//aors:slider"/>
          <xs:field xpath="@name"/>
        </xs:unique>
        <xs:key name="structure.id.keys">
          <xs:selector xpath=".//aors:*"/>
          <xs:field xpath="@id"/>
        </xs:key>
        <xs:key name="structure.formfield.keys">
          <xs:selector xpath=".//aors:textfield | .//aors:checkbox | .//aors:select | .//aors:button | .//aors:textarea | .//aors:slider | .//aors:radiobutton |
            .//aors:dialog | .//aors:visualization"/>
          <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="structure.formfield.keyrefs" refer="ers:structure.formfield.keys">
          <xs:selector xpath=".//label"/>
          <xs:field xpath="@for"/>
        </xs:keyref>
        
        <xs:key name="structure.headers.keys">
          <xs:selector xpath=".//aors:th"/>
          <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="structure.headers.keyrefs" refer="ers:structure.headers.keys">
          <xs:selector xpath=".//aors:td | .//aors:th"/>
          <xs:field xpath="headers"/>
        </xs:keyref>        
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="AgentControlUI.ControlInterface.StyleSection.type">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" fixed="text/css" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="AgentControlUI.ControlInterface.StructureSection.type">
    <xs:choice maxOccurs="unbounded">
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.HeadingElements"/>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.BlockElements"/>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.ListElements"/>
    </xs:choice>
  </xs:complexType>
  
  <!-- empty and common attributes -->
  
  <xs:complexType name="AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
    <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.CommonAttributes"/>
  </xs:complexType>
    
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.CommonAttributes">
    <xs:attribute name="id" type="ers:CanonicalName" use="optional"/>
    <xs:attribute name="class" type="ers:ListOfCanonicalName" use="optional"/>
    <xs:attribute name="title" type="xs:string" use="optional"/>
    <xs:attribute name="style" type="xs:string" use="optional"/>
  </xs:attributeGroup>
  
  <!-- inline -->
  
  <xs:complexType name="AgentControlUI.ControlInterface.StructureSection.InlineElement.type">
    <xs:complexContent mixed="true">
      <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
        <xs:sequence>
          <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.InlineElements" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.InlineElements">
    <xs:choice>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.InlineElements-label"/>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.FormctrlElements.label"/>
    </xs:choice>
  </xs:group>
  
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.InlineElements-label">
    <xs:choice>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.InlineTextElements"/>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.EditElements"/>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.ImageElements"/>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.FormctrlElements-label"/>
    </xs:choice>   
  </xs:group>

  <!-- block -->
    
  <xs:complexType name="AgentControlUI.ControlInterface.StructureSection.BlockElement.type">
    <xs:complexContent mixed="true">
      <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
        <xs:sequence>
          <xs:group ref="ers:AgentControlUI.ControlInterface.StructureSection.BlockElements" minOccurs="0" maxOccurs="unbounded"/>          
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.BlockElements">
    <xs:choice>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.BlockTextElements"/>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.TableElements"/>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.FormElements"/>
    </xs:choice>
  </xs:group>
  
  <!-- flow -->
  
  <xs:complexType name="AgentControlUI.ControlInterface.StructureSection.FlowElement.type">
    <xs:complexContent mixed="true">
      <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="aors:AgentControlUI.ControlInterface.SructuredSection.FlowElements"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:group name="AgentControlUI.ControlInterface.SructuredSection.FlowElements">
    <xs:choice>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.HeadingElements"/>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.BlockElements"/>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.InlineElements"/>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.ListElements"/>      
    </xs:choice>
  </xs:group>
  
  <!-- text -->
  
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.InlineTextElements">
    <xs:choice>
      <xs:element name="abbr" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="acronym" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="br" type="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type"/>
      <xs:element name="cite" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="code" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="dfn" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="em" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="kbd" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="q" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="samp" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="span" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="strong" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="var" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>      
    </xs:choice>    
  </xs:group>
  
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.BlockTextElements">
    <xs:choice>
      <xs:element name="address" type="aors:AgentControlUI.ControlInterface.StructureSection.BlockElement.type"/>
      <xs:element name="blockquote">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.HeadingElements"/>
            <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.BlockElements"/>
            <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.ListElements"/>
          </xs:choice>
          <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.CommonAttributes"/>
          <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.CiteAttributes"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="div" type="aors:AgentControlUI.ControlInterface.StructureSection.FlowElement.type"/>
      <xs:element name="p" type="aors:AgentControlUI.ControlInterface.StructureSection.BlockElement.type"/>
      <xs:element name="pre" type="aors:AgentControlUI.ControlInterface.StructureSection.BlockElement.type"/>      
    </xs:choice>    
  </xs:group>

  <!-- heading -->
  
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.HeadingElements">
    <xs:choice>
      <xs:element name="h1" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="h2" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="h3" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="h4" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="h5" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
      <xs:element name="h6" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
    </xs:choice>    
  </xs:group>
  
  <!-- edit -->
  
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.EditElements">
    <xs:choice>
      <xs:element name="del" type="ers:AgentControlUI.ControlInterface.StructureSection.EditElement.type"/>
      <xs:element name="ins" type="ers:AgentControlUI.ControlInterface.StructureSection.EditElement.type"/>      
    </xs:choice>
  </xs:group>
  
  <xs:complexType name="AgentControlUI.ControlInterface.StructureSection.EditElement.type">
    <xs:complexContent>
      <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.FlowElement.type">
        <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.CiteAttributes"/>
        <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.EditAttributes"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.CiteAttributes">
    <xs:attribute name="cite" type="xs:anyURI" use="optional"/>
  </xs:attributeGroup>
  
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.EditAttributes">
    <xs:attribute name="datetime" type="xs:dateTime" use="optional"/>
  </xs:attributeGroup>
      
  <!-- list -->
    
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.ListElements">
    <xs:choice>
      <xs:element name="dl">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded">
            <xs:element name="dt" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
            <xs:element name="dd" type="aors:AgentControlUI.ControlInterface.StructureSection.FlowElement.type"/>
          </xs:choice>
          <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.CommonAttributes"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="ol" type="aors:AgentControlUI.ControlInterface.StructureSection.ListElement.type"/>
      <xs:element name="ul" type="aors:AgentControlUI.ControlInterface.StructureSection.ListElement.type"/>
    </xs:choice>
  </xs:group>
  
  <xs:complexType name="AgentControlUI.ControlInterface.StructureSection.ListElement.type">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="li" type="aors:AgentControlUI.ControlInterface.StructureSection.FlowElement.type"/>
    </xs:sequence>
    <xs:attributeGroup ref="ers:AgentControlUI.ControlInterface.StructureSection.CommonAttributes"/>
  </xs:complexType>
  
  <!-- table -->
  
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.TableElements">
    <xs:sequence>
      <xs:element name="table">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
              <xs:sequence>
                <xs:element name="caption" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type" minOccurs="0"/>
                <xs:choice>
                  <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.ColElements" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element name="colgroup" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
                          <xs:sequence>
                            <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.ColElements" minOccurs="0" maxOccurs="unbounded"/>
                          </xs:sequence>
                          <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.ColAttributes"/>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
                <xs:choice>
                  <xs:sequence>
                    <xs:element name="thead" type="aors:AgentControlUI.ControlInterface.StructureSection.RowWrapper.type" minOccurs="0"/>
                    <xs:element name="tfoot" type="aors:AgentControlUI.ControlInterface.StructureSection.RowWrapper.type" minOccurs="0"/>
                    <xs:element name="tbody" type="aors:AgentControlUI.ControlInterface.StructureSection.RowWrapper.type" maxOccurs="unbounded"/>
                  </xs:sequence>
                  <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.RowElements" maxOccurs="unbounded"/>
                </xs:choice>
              </xs:sequence>
              <xs:attribute name="summery" type="xs:string" use="optional"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.ColElements">
    <xs:sequence>
      <xs:element name="col">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.ColAttributes"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>

  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.ColAttributes">
    <xs:attribute name="span" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="width" use="optional">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[1-9][0-9]*(%|\*)?"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="AgentControlUI.ControlInterface.StructureSection.RowWrapper.type">
    <xs:complexContent>
      <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
        <xs:sequence>
          <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.RowElements" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.RowElements">
    <xs:sequence>
      <xs:element name="tr">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
              <xs:choice maxOccurs="unbounded">
                <xs:element name="td" type="aors:AgentControlUI.ControlInterface.StructureSection.CellElement.type"/>
                <xs:element name="th" type="aors:AgentControlUI.ControlInterface.StructureSection.CellElement.type"/>
              </xs:choice>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  
  <xs:complexType name="AgentControlUI.ControlInterface.StructureSection.CellElement.type">
    <xs:complexContent>
      <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.FlowElement.type">
        <xs:attribute name="abbr" type="xs:string" use="optional"/>
        <xs:attribute name="axis" type="xs:string" use="optional"/>
        <xs:attribute name="scope" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="row"/>
              <xs:enumeration value="col"/>
              <xs:enumeration value="rowgroup"/>
              <xs:enumeration value="colgroup"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="headers" type="ers:CanonicalName" use="optional"/>
        <xs:attribute name="rowspan" type="xs:nonNegativeInteger" use="optional"/>
        <xs:attribute name="colspan" type="xs:nonNegativeInteger" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- image -->  
  
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.ImageElements">
    <xs:sequence>
      <xs:element name="img">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
              <xs:attribute name="alt" type="xs:string" use="required"/>
              <xs:attribute name="longdesc" type="xs:anyURI" use="optional"/>
              <xs:attribute name="src" type="xs:anyURI" use="required"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
    
  <!-- form -->

  <xs:group name="AgentControlUI.ControlInterface.StructureSection.FormElements">
    <xs:sequence>
      <xs:element name="fieldset">
        <xs:complexType>
          <xs:complexContent mixed="true">
             <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.FlowElement.type">
               <xs:choice minOccurs="0" maxOccurs="unbounded">
                 <xs:element name="legend" type="aors:AgentControlUI.ControlInterface.StructureSection.InlineElement.type"/>
               </xs:choice>
             </xs:extension>
           </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  
  <!-- formctrl -->
  
  <xs:group name="AgentControlUI.ControlInterface.StructuredSection.FormctrlElements">
    <xs:choice>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.FormctrlElements-label"/>
      <xs:group ref="aors:AgentControlUI.ControlInterface.StructureSection.FormctrlElements.label"/>
    </xs:choice>
  </xs:group>
  
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.FormctrlElements-label">
    <xs:choice>
      <xs:element name="textfield">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.name"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.slot"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.initialValue"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.readonly"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkbox">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.name"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.slot"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.checked"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.readonly"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.value"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>        
      </xs:element>
      <xs:element name="radiobutton">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.name"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.slot"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.checked"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.readonly"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.value"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>        
      </xs:element>
      <xs:element name="textarea">
        <xs:complexType>
          <xs:complexContent mixed="true">
            <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.name"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.slot"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.readonly"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.cols"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.rows"/>              
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>        
      </xs:element>
      <xs:element name="select">
        <xs:complexType mixed="true">
          <xs:complexContent>
            <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
              <xs:sequence>
                <xs:element name="option">
                  <xs:complexType>
                    <xs:complexContent>
                      <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
                        <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.label"/>
                        <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.value"/>
                      </xs:extension>
                    </xs:complexContent>                  
                  </xs:complexType>                  
                </xs:element>
              </xs:sequence>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.name"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.slot"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.readonly"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.size"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>                
      </xs:element>
      <xs:element name="dialog">
        <xs:complexType>
          <xs:complexContent mixed="true">
            <xs:extension base="aors:AgentControlUI.ControlInterface.StructuredSection.ButtonElement.type">
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:group ref="aors:AgentControlUI.ControlInterface.SructuredSection.FlowElements"/>
              </xs:choice>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="button" type="aors:AgentControlUI.ControlInterface.StructuredSection.ButtonElement.type"/>
      <xs:element name="slider">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="aors:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.name"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.slot"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.minValue"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.maxValue"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.readonly"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.integerInitialValue"/>
              <xs:attributeGroup ref="aors:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.labels"/>         
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>                
      </xs:element>
      <!--xs:element name="visualization"/-->
    </xs:choice>
  </xs:group>
  
  <xs:complexType name="AgentControlUI.ControlInterface.StructuredSection.ButtonElement.type">
    <xs:complexContent>
      <xs:extension base="ers:AgentControlUI.ControlInterface.StructureSection.ButtonElement.type0">
        <xs:attributeGroup ref="ers:AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.mandatoryname"/>
      </xs:extension>      
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AgentControlUI.ControlInterface.StructureSection.ButtonElement.type0">
    <xs:complexContent>
      <xs:restriction base="ers:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
        <xs:attribute name="title" type="xs:string" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.name">
    <xs:attribute name="name" type="ers:CanonicalName" use="optional"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.mandatoryname">
    <xs:attribute name="name" type="ers:CanonicalName" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.slot">
    <xs:attribute name="slot" type="ers:CanonicalName" use="optional"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.initialValue">
    <xs:attribute name="initialValue" type="xs:string" use="optional"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.value">
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.readonly">
    <xs:attribute name="readonly" type="xs:boolean" default="false" use="optional"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.checked">
    <xs:attribute name="checked" type="xs:boolean" default="false" use="optional"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.cols">
    <xs:attribute name="cols" type="xs:nonNegativeInteger" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.rows">
    <xs:attribute name="rows" type="xs:nonNegativeInteger" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.size">
    <xs:attribute name="size" type="xs:nonNegativeInteger" use="optional"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.minValue">
    <xs:attribute name="minValue" type="xs:integer" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.maxValue">
    <xs:attribute name="maxValue" type="xs:integer" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.integerInitialValue">
    <xs:attribute name="initialValue" type="xs:integer" use="optional"/>
  </xs:attributeGroup>  
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.label">
    <xs:attribute name="label" type="xs:nonNegativeInteger" use="optional"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="AgentControlUI.ControlInterface.StructureSection.FormfieldAttributes.labels">
    <xs:attribute name="labels" type="xs:boolean" use="optional"/>
  </xs:attributeGroup>
  
  <xs:group name="AgentControlUI.ControlInterface.StructureSection.FormctrlElements.label">
    <xs:sequence>
      <xs:element name="label">
        <xs:complexType mixed="true">
          <xs:complexContent>
            <xs:extension base="ers:AgentControlUI.ControlInterface.StructureSection.EmptyElement.type">
              <xs:sequence>
                <xs:group ref="ers:AgentControlUI.ControlInterface.StructureSection.InlineElements-label" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
    
  <!--########################-->
  <!--### InteractionRules ###-->
  <!--########################-->
  
  <xs:complexType name="AgentControlUI.InteractionRules.type"/>
</xs:schema>
